<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.nepserver.mapper.GridCityMapper">
    
    <select id="listGridCityByProvinceId" resultType="com.neusoft.nepserver.entity.GridCity">
        SELECT city_id, city_name, province_id
        FROM grid_city
        WHERE province_id = #{provinceId}
        ORDER BY city_id
    </select>
    
</mapper>
